    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://tanktank.com/ns/1.0"
        id       = "com.tanktank.mobile"
        versionCode="10"
        version   = "1.0.0">


    <name>Tank Tank!</name>


    <description>
        Jogo produzido no curso de desenvolvimento de jogos em HTML5 da Treinaweb
    </description>

    <author href="http://www.treinaweb.com.br" email="contato@treinaweb.com.br">
    </author>

    <preference name="fullscreen" value="true" />
    <icon src="imagens/icon.png" />

</widget>